<!-- 
Programmer Name: Ms Lee Wen Xi, APD3F2211CS(IS)
Program Name: home.html
Description: The UI of home page
First Written On: 01/06/2023
Last Edited On:  22/07/2023
-->

{% extends "side_container.html" %}
{% block title %}Home{% endblock %}
{% block option_list %}<ul class="list-group" hidden>{% endblock %}
{% block content%}
    <div class="d-flex mx-auto justify-content-between mt-5" style="width: 90%">
        <div>
            <a class="btn btn-primary" href="/create_survey" role="button" style="width: 10vw">Create Survey</a>
        </div>
        
        <form method="POST">
            <div class="input-group" style="width: 30vw">
                <input type="search" name="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" required />
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
        </form>
    </div>

    <div class="mx-auto mt-3" style="width: 90%">
        <h2>Recommended for You</h2>
        
        <div class="d-flex align-items-start">
            {% if recommends|length == 0 %}
                <div class="card mr-5" style="width: 100%; height: 15vw">
                    <div class="card-body">
                        <div class="w-100 h-100 pt-4">
                            <h5 class="card-title text-center mt-5">Whoops! Looks like there is no survey at the moment</h5>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="grid-container" style="width: 100%">
                {% for r in recommends %}
                    <div class="card mr-5">
                        <div class="card-body">
                            <div><h5 class="card-title" style="text-overflow: clip; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{ r.title }}</h5></div>
                            <hr>
                            <div>
                                {% if r.field_tag != "Any" %}
                                    <span class="badge bg-info py-2">{{ r.field_tag }}</span>
                                {% endif %}
                                {% if r.occupation_tag != "Any" %}
                                    <span class="badge bg-info py-2">{{ r.occupation_tag }}</span>
                                {% endif %}
                                {% if r.age_tag != "Any" %}
                                    <span class="badge bg-info py-2">Age {{ r.age_tag }}</span>
                                {% endif %}
                                {% if r.field_tag == "Any" and r.occupation_tag == "Any" and r.age_tag == "Any" %}
                                    <span class="badge bg-info py-2">Open to anyone</span>
                                {% endif %}
                            </div>
                            <div class="mt-2"><p class="card-text font-italic">{{ r.date_started }} - {{ r.date_closed }}</p></div>
                            {% if r_respondents[r.id] >= r.target|int %}
                                <div class="mt-2"><p class="card-text">Welcome more respondents</p></div>
                            {% else %}
                                <div class="mt-2"><p class="card-text">{{ r.target|int - r_respondents[r.id] }} respondents needed</p></div>
                            {% endif %}
                            
                            <div class="mt-2">
                                <a href="/do_survey/{{ r.id }}" class="btn btn-success mt-2">Take Part</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="mx-auto mt-3" style="width: 90%">
        <h2>Latest Survey</h2>
        
        <div class="d-flex align-items-start">
            {% if latest|length == 0 %}
                <div class="card mr-5" style="width: 100%; height: 15vw">
                    <div class="card-body">
                        <div class="w-100 h-100 pt-4">
                            <h5 class="card-title text-center mt-5">Whoops! Looks like there is no survey at the moment</h5>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="grid-container" style="width: 100%">
                {% for r in latest %}
                    <div class="card mr-5">
                        <div class="card-body">
                            <div><h5 class="card-title" style="text-overflow: clip; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{ r.title }}</h5></div>
                            <hr>
                            <div>
                                {% if r.field_tag != "Any" %}
                                    <span class="badge bg-info py-2">{{ r.field_tag }}</span>
                                {% endif %}
                                {% if r.occupation_tag != "Any" %}
                                    <span class="badge bg-info py-2">{{ r.occupation_tag }}</span>
                                {% endif %}
                                {% if r.age_tag != "Any" %}
                                    <span class="badge bg-info py-2">Age {{ r.age_tag }}</span>
                                {% endif %}
                                {% if r.field_tag == "Any" and r.occupation_tag == "Any" and r.age_tag == "Any" %}
                                    <span class="badge bg-info py-2">Open to anyone</span>
                                {% endif %}
                            </div>
                            <div class="mt-2"><p class="card-text font-italic">{{ r.date_started }} - {{ r.date_closed }}</p></div>
                            {% if l_respondents[r.id] >= r.target|int %}
                                <div class="mt-2"><p class="card-text">Welcome more respondents</p></div>
                            {% else %}
                                <div class="mt-2"><p class="card-text">{{ r.target|int - l_respondents[r.id] }} respondents needed</p></div>
                            {% endif %}
                            
                            <div class="mt-2">
                                <a href="/do_survey/{{ r.id }}" class="btn btn-success mt-2">Take Part</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}